.sites {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-block-end: 14.5rem;
}

.sites__head {
    max-width: 318px;
}

.sites__button img {
    max-width: 24px;
}

.sites__title {
    margin-block-end: 2rem;
}

.sites__paragraph {
    margin-block-end: 3rem;
    font-size: 1.125rem;
    padding-bottom: 0;
}

.sites__cards {
    display: flex;
    max-width: 790px;
    gap: 3rem;
    justify-self: end;
}

.sites__card {
    width: 100%;
}

.sites__img img {
    object-fit: cover;
    height: 100%;
}

.sites__img {
    width: 230px;
    height: 418px;
    margin-block-end: 1.5rem;
}

.sites__name {
    padding-bottom: 8px;
}

.sites__city {
    padding-bottom: 11px;
    font-size: 14px;
}

.sites__link {
    font-weight: 500
}

@media screen and (max-width: 82rem) {
    .sites {
        justify-items: center;
        grid-template-columns: repeat(1, auto);
    }

    .sites__head {
        max-width: fit-content;
        display: grid;
        margin-block-end: 2rem;
    }

    .sites__cards {
        grid-row: 2;
        justify-self: center;
    }

    .sites__img {
        max-width: 230px;
        width: fit-content;
    }

    .sites__button {
        justify-self: center;
    }
}