@import url(hero.css);
@import url(services.css);
@import url(facilities.css);
@import url(sites.css);
@import url(advantages.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.4375rem;
    font-weight: bold;
    padding-bottom: 1.8125rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.highlight__text {
    color: #F78065;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

main section:not(.hero) {
    padding: 0 100px;
}

p {
	padding-bottom: 1em;
    color: #666666;
}

a {
    text-decoration: none;
}

/* RWD: */
img {
	width: 100%;
	height: auto;
    display: block;
}
